--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
h5py
numpy
pyyaml
timm
wandb
fabio
black
pytest
PyQt5
pyqtgraph
scipy
matplotlib
scikit-image
pyFAI>=2024.0
git+https://gitlab.com/kirianlab/reborn.git@gihan
